@font-face {
    font-family: Acumin;
    font-weight: bold;
    src: url("/fonts/Acumin-BdPro.otf") format("opentype");
}

#app-container {
    width: 100%;
    max-width: none;
}

body {
    background-color: #f9f9f9;
    color: #333333;
    font-size: 15px;
    margin: 0px;
}

hr {
    margin: 0.3rem 0rem;
}

.footer {
    height: 3.rem;
    padding: 0rem 2rem 0rem;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    text-align: center;
}
.footer P {
    margin-top: 3em;
    text-align: center;
    display: block;
}
.footer A {
    color: #333333;
    text-decoration: none;
}
.footer A:hover{
    color: #d00000;
}

#btn-see-media {
    height:60%;
}

#btn-see-media {
    background-color: #2c8cff;
    color: #FFFFFF;
}

#btn-see-media:hover {
    background-color: #FFFFFF;
    color: #2c8cff;
}

H5 {
    color: #2c8cff;
    font-weight: 300;
}

H5, H3 {
    font-family: Acumin, "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

H6 {
    font-size: 3rem;
    font-weight: bold;
}

Header {
    font-size: 1.5rem;
}

.content A {
    font-weight: bold;
    text-decoration: none;
}
.content A:hover{
    color: #1e6091;
}

#description-card P{
    font-size: 2.rem;
}

#left-column {
    margin-top: 20px;
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 50.5rem);
}

#right-column {
    font-size: 17px;
    background-color: #FFFFFF;
    padding: 0rem 2rem;
    min-height: calc(100vh - 5.5rem);
}

#intro {
    margin: 20px 0px;
    font-family: "Helvetica Neue", sans-serif;
    text-align: justify;
}

#faq {
    margin: 20px 0px;
    font-family: "Helvetica Neue", sans-serif;
    text-align: left;
    display: table;
    word-wrap: break-word;
}

.faq-wrapper {
    /* margin: 20px 0px; */
    width: 100%;
    position: relative;
    /* background-color: red; */
    /* word-wrap: break-word; */
}
  
.faq {
    /* padding: 10px 10px 10px 10px;
    margin: 10px 10px; */
    /* background-color: grey;
    bottom: 0px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0; */
}

/*
    ##Device = Most of the Smartphones Mobiles / ipad (Portrait)
*/
@media only screen and (max-width: 750px), screen and (min-width: 768px) and (max-width: 1024px) {

    body {
        font-size: 13px;
        margin: 0px;
    }

    .footer {
        height: 2rem;
    }

    h5 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    #intro {
        margin: 10px 0px;
    }

    #faq{
        margin: 10px 0px;
    }

    #left-column, #right-column {
        width: 100%;
        margin-left: 0px;
    }

    #right-column {
        padding: 0rem 0.5rem;
    }

    #header {
        display: none;
    }
}

.collapsible {
    background-color: #f8f9fa;
    color: black;
    cursor: pointer;
    /* position: absolute; */
    width: 100%;
    max-width: 100%;
    word-wrap: break-word;
    left: 0;
    right: 0;
    text-align: left;
    /* overflow-wrap: break-word; */
    margin-left: 0;
    padding-left: 2%;
    white-space: normal;
    height: auto;
    font-size: 0.5.rem;
}
  
.active, .collapsible:hover {
    background-color: #1e6091;
    color: white;
} 

.collapsible:before {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
content: "\2212";   
}
  
.content {
padding: 0 18px;
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
background-color: #f1f1f1;
}